sudo: false
dist: trusty
env:
  global:
    - secure: RyyZpzIhIJVX+1CKn5BKx3siHeDwUux+q4/dMrmc0P06aCHvSapdrUjPOWK1bL5CpqNrybvPOYTpxc0JHIIkgzIAGJJEBaBHvlwqj0ZiH8P3hj0TpCZcfWROnRSpzazLwN0isdRxVHGYRIDGJBDZoN0PX97anjmclBt+UveLXz4=  # GH_TOKEN
    - secure: Xj2KE+N9NOwwMa8MwAqpCKB7ujhEwR69YrxlskRDcjcoCqDWtRQPfDbPr1X0Nb3bb5MmS1ouoQt6ACccRuJWNQGg/8jI9yaLu4UIroNyv86q0uduhFW4fG0IEjk4W7+wk6o89Q03XbXpp7tvs6t56Ned1ClZOBhZOGl4jtPgJyY=  # OAUTH_CLIENT_ID
    - secure: dhn9CHHyKIRPYSL0t3qPIcQ2GEI9IhSFAPG/JKy4rL1RIOzlxiFYVz9juaDIjGw8Ab7+Pb+tL0zurE76eN3vqx4d6Gw+rDrTl46mbtyqs6MZYSwFMLqqRb3k2m1Y6WKNoB01GVMB2H7AmB0YMUzhaM4WF3h0XWNPRczw3U2X/eI=  # OAUTH_CLIENT_SECRET

jobs:
  include:
    - &test
      stage: test
      language: ruby
      rvm: 2.3
      addons:
        postgresql: '9.5'
        code_climate:
          repo_token: a813ce884be14a158262d4e05906c0b6f4e7f4533c41cdf88bda7da84d88297f
      services:
        - postgresql
      cache:
        bundler: true
      install:
        # Travis provides only ElasticSearch 5.x, we must install legacy version ourself.
        - "wget -nv https://download.elastic.co/elasticsearch/elasticsearch/elasticsearch-1.7.3.tar.gz
              && echo '754b089ec0a1aae5b36b39391d5385ed7428d8f5  elasticsearch-1.7.3.tar.gz' | sha1sum -c
              && tar -xzf elasticsearch-*.tar.gz"
        - bundle install --without development doc --jobs=3 --retry=3
      before_script:
        - while read line; do export $line; done < .env.test
        - bundle exec rake --trace db:setup
        - ./elasticsearch-*/bin/elasticsearch &
        - echo 'waiting for elasticsearch to come up'; wget -q --waitretry=1 --retry-connrefused -T 10 -O - http://127.0.0.1:9200

    - <<: *test
      rvm: 2.4

    - &test-ruby-head
      <<: *test
      rvm: ruby-head

    - stage: deploy
      language: node_js
      node_js: 4
      rvm: 2.4
      cache:
        bundler: true
      install:
        - npm install -g raml2html
        - bundle install --jobs=3 --retry=3
      script: skip
      deploy:
        - provider: script
          script: bundle exec rake raml:publish
          skip_cleanup: true
          on:
            branch: master

  fast_finish: true
  # This doesn't work now, probably bug in Travis.
  allow_failures:
    - <<: *test-ruby-head

notifications:
  email:
    on_success: never
    on_failure: change
  webhooks:
    on_success: change
    on_failure: always
